
.main{
    text-align: left;
    background-color: black;
    width: 101%;
    padding: 6px 11px 5px 8px;
    margin: -8px;
    font-size: revert;
    font-style: italic;
    
}
a:link {
        
        text-decoration: none;
        display: inline;
        padding: 10px;
        
      }

.button{
    padding: 10px 10px;
}


.Users{
    width: 100%;
    margin: 20px 200px;
}

input[type=text] {
    width: 100%;
    padding: 2px 80px 0px 1px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  } 
input[type=Email] {
    width: 100%;
    padding: 2px 80px 0px 1px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  } 
  input[type=password] {
    width: 100%;
    padding: 2px 80px 0px 1px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  } 
  input[type=Number] {
    width: 100%;
    padding: 2px 80px 0px 1px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  } 


